body {
  font-family: Tahoma, sans-serif;
  padding: 0px;
  margin: 0px;
}

.inputContainer{
  display: flex;
  gap: 1rem;
  align-items: center;
}

.container{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

input[type="text"]{
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
}

.error{
  background-color: red;
  color: white;
  border: none;
  border-radius: 0.25rem;
  padding: 0.5rem;
}

.button{
  padding: 0.5rem;
  border-radius: 0.25rem;
  border: none;
  background-color: lightblue;
  color: black;
}

.grid{
  display: grid;
  gap: 0.2rem;
}
